<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href= "./img/1291679.png">
        <link href="./css/styles.css" rel="stylesheet" >
        
    </head>
    <body>
        <div class ="main-content">
        {{>header}}
        <img src="./img/photo-1464822759023-fed622ff2c3b.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>