<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <link rel="icon" href= "./img/1291679.png">
        <link href="./css/styles.css" rel="stylesheet" >
        
    </head>
    <body>
        <div class ="main-content">
           {{>header}}
        <h1>{{value}}</h1>
        </div>
        
        {{>footer}}
        
    </body>
</html>