<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href= "./img/1291679.png">
        <link href="./css/styles.css" rel="stylesheet" >
    </head>
    <body>
        <div class="main-content">
         {{>header}}
        <p1>description: {{description}}</p1>
        </div>
       
        {{>footer}}
    </body>
</html>